<mat-horizontal-stepper
  (selectionChange)="stepperChange($event)"
  [linear]="false"
  labelPosition="bottom"
>
  <div>
    <mat-step
      [stepControl]="senderInfo.personInfoGroup"
      label="Sender Information"
    >
      <app-person-info [title]="'Sender'" #senderInfo></app-person-info>
      <div class="right aligned right floated column">
        <button
          mat-raised-button
          class="button-spacing"
          color="primary"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>

    <mat-step
      [stepControl]="payorInfo.personInfoGroup"
      label="Payor Information"
    >
      <app-person-info
        [title]="'Payor'"
        [hasSameAsButton]="true"
        (sameAsSenderClicked)="fillPayorInfo($event)"
        #payorInfo
      ></app-person-info>
      <div class="right aligned right floated column">
        <button
          mat-stroked-button
          class="button-spacing"
          color="primary"
          matStepperPrevious
        >
          Previous
        </button>
        <button
          mat-raised-button
          class="button-spacing"
          color="primary"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>

    <mat-step
      [stepControl]="recieverInfo.personInfoGroup"
      label="Receiver Information"
    >
      <app-person-info [title]="'Receiver'" #recieverInfo></app-person-info>
      <div class="right aligned right floated column">
        <button
          mat-stroked-button
          class="button-spacing"
          color="primary"
          matStepperPrevious
        >
          Previous
        </button>
        <button
          mat-raised-button
          class="button-spacing"
          color="primary"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>

    <mat-step
      label="Item Description"
      [stepControl]="deliveryInfo.deliveryInfoGroup"
    >
      <app-delivery-info #deliveryInfo></app-delivery-info>
      <div class="right aligned right floated column">
        <button
          mat-stroked-button
          class="button-spacing"
          color="primary"
          matStepperPrevious
        >
          Previous
        </button>
        <button
          mat-raised-button
          class="button-spacing"
          color="primary"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>

    <mat-step label="Download Forms" state="downloadForms">
      <div fxLayoutAlign="start start" fxLayout="column">
        <div
          fxLayout="row"
          fxLayoutAlign="start stretch"
          style="text-align: left !important;"
          fxFlexFill
        >
          <app-transaction-summary
            fxFlexFill
            [transactionSummary]="transactionSummary"
          ></app-transaction-summary>
        </div>
      </div>
    </mat-step>
  </div>
</mat-horizontal-stepper>
