/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# ts gitignores
/resources/ts/jmet-forms/dist
/resources/ts/jmet-forms/tmp
/resources/ts/jmet-forms/out-tsc

/resources/ts/jmet-forms/node_modules
/resources/ts/jmet-forms/.vscode/*
/resources/ts/jmet-forms/!.vscode/settings.json
/resources/ts/jmet-forms/!.vscode/tasks.json
/resources/ts/jmet-forms/!.vscode/launch.json
/resources/ts/jmet-forms/!.vscode/extensions.json
/resources/ts/jmet-forms/.history/*

/resources/ts/jmet-forms/.sass-cache
/resources/ts/jmet-forms/connect.lock
/resources/ts/jmet-forms/coverage
/resources/ts/jmet-forms/libpeerconnection.log
/resources/ts/jmet-forms/npm-debug.log
/resources/ts/jmet-forms/yarn-error.log
/resources/ts/jmet-forms/testem.log
/resources/ts/jmet-forms/typings

/resources/ts/jmet-forms/.DS_Store
/resources/ts/jmet-forms/Thumbs.db

