<div class="ui centered full-width grid" style="margin: 0 auto">
  <div class="full-width row">
    <div
      class="ui left aligned grid header-col full-width"
      style="padding-top: 0px"
    >
      <div class="ui grid full-width" style="margin: 0 auto">
        <div class="row">
          <div
            class="left floated left aligned eight wide column middle aligned content"
          >
            <div class="ui small header white">
              DELIVERY INFORMATION
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fluid row"></div>
  <!-- <mat-card class="rouded-all" style="padding-top: 0px">
    <mat-card-header> </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card> -->
</div>
