.page-wrapper{
    height: 100vh;
    width: 100vw;
    overflow: auto; 
    background: url('~/assets/jmet-background.jpg'), #fff;    
    color: #777;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}