<form
  class="ui centered grid"
  style="margin: 0 auto"
  #newAccount>
  <mat-card class="rouded-all" style="padding-top: 0px">
    <mat-card-header
      class="ui centered grid header-col rounded-top"
      style="margin-bottom: 10px">
      <mat-card-title>
        <!-- <div class="ui huge header white">JME</div> -->
        <img
          class="ui centered image disable-selection"
          src="../../../assets/jme-logo-header.png"
          />
      </mat-card-title>
      <mat-card-subtitle>
        <header class="ui medium header white">
          Create New Account on JME Transport Booking
        </header>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true">
        <mat-step [formGroup]="userBasicInfo">
          <div class="ui horizontal divider">
            <div class="jme-col">
              Personal Information
            </div>
          </div>
          <div class="ui grid stackable" style="margin: 0px; max-width: 400px;">
            <div class="row equal width grid low-padding">
              <mat-form-field appearance="outline" class="column">
                <mat-label>FirstName</mat-label>
                <input
                  matInput
                  placeholder="FirstName"
                  [value]="userBasicInfo.controls['firstname'].value"
                  [formControl]="userBasicInfo.controls['firstname']"
                  />
                <mat-error
                  *ngIf="userBasicInfo.controls['firstname'].errors?.required">
                  FirstName is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="column">
                <mat-label>Lastname</mat-label>
                <input
                  matInput
                  placeholder="Lastname"
                  [value]="userBasicInfo.controls['lastname'].value"
                  [formControl]="userBasicInfo.controls['lastname']"
                  />
                <mat-error
                  *ngIf="userBasicInfo.controls['lastname'].errors?.required">
                  Lastname is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row low-padding">
              <mat-form-field appearance="outline" class="column">
                <mat-label>Company</mat-label>
                <input
                  matInput
                  placeholder="Company"
                  [value]="userBasicInfo.controls['company'].value"
                  [formControl]="userBasicInfo.controls['company']"
                  />
                <mat-error
                  *ngIf="userBasicInfo.controls['company'].errors?.required">
                  Company is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row low-padding">
              <mat-form-field appearance="outline" class="column">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Email"
                  [value]="userBasicInfo.controls['email'].value"
                  [formControl]="userBasicInfo.controls['email']" />
                <mat-error
                  *ngIf="userBasicInfo.controls['email'].errors?.email">
                  Must be a valid email address
                </mat-error>
                <mat-error
                  *ngIf="userBasicInfo.controls['company'].errors?.required">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            </div>
            <div class="row low-padding">
              <div class="middle aligned column">
                <div style="float: left">
                  <button
                    [routerLink]="['/login']"
                    mat-stroked-button
                    color="primary">
                    Return to Login
                  </button>
                </div>
                <div style="float: right">
                  <button
                    [disabled]="!enableUserBasicInfoNextButton()"
                    matStepperNext mat-raised-button color="primary">
                    Next
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step [formGroup]="newAccountInfo">
          <div class="ui horizontal divider">
            <div class="jme-col">
              Account Information
            </div>
          </div>
          <div class="ui grid stackable" style="margin: 0px; max-width: 400px;">
            <div class="row low-padding">
              <mat-form-field appearance="outline" class="column">
                <mat-label>Username</mat-label>
                <input
                  matInput
                  placeholder="Username"
                  [value]="newAccountInfo.controls['username'].value"
                  [formControl]="newAccountInfo.controls['username']"
                  />
                <mat-error
                  *ngIf="newAccountInfo.controls['username'].errors?.minlength
                  || newAccountInfo.controls['username'].errors?.maxlenght">
                  Username Must be <strong>6 to 16 characters in lenght</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row equal width grid low-padding">
              <mat-form-field appearance="outline" class="column">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="{{ showPass ? '' : 'password' }}"
                  placeholder="Password"
                  [formControl]="newAccountInfo.controls['password']"
                  minlength="5"
                  maxlength="16"
                  />
                <mat-error
                  *ngIf="newAccountInfo.controls['password'].errors?.minlength
                  || newAccountInfo.controls['password'].errors?.maxlenght">
                  Password Must be <strong>6 to 16 characters in lenght</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="column">
                <mat-label>Re-Type Password</mat-label>
                <input
                  matInput
                  type="{{ showPass ? '' : 'password' }}"
                  placeholder="Re-Type Password"
                  [formControl]="newAccountInfo.controls['passwordReType']"
                  />
                <mat-error
                  *ngIf="newAccountInfo.controls['passwordReType'].hasError(
                  'notMatch'
                  )">
                  Password did not <strong>Matched</strong>
                </mat-error>

                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Unhide"
                  (mousedown)="visibiltyOn()"
                  (mouseup)="visibilityOff()"
                  (mouseleave)="visibilityOff()">
                  <mat-icon color="primary">
                    {{ showPass ? 'visibility' : 'visibility_off' }}
                  </mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="row low-padding">
              <div class="middle aligned column">
                <div style="float: left">
                  <button matStepperPrevious mat-stroked-button color="primary">
                    <mat-icon>navigate_before</mat-icon>
                    Return
                  </button>
                </div>
                <div style="float: right">
                  <button matStepperNext mat-raised-button color="primary"
                    (click)="signUp()">
                    Create Account
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <mat-card-actions>
      <!-- <div class="ui grid full-width" style="margin:0px">
        <div class="middle aligned column">
          <div style="float: right">
            <button type="submit" mat-raised-button color="primary">
              Create Account
              <mat-icon>assignment_ind</mat-icon>
            </button>
          </div>
        </div>
      </div> -->
    </mat-card-actions>
  </mat-card>
</form>
