.dashboard-container{
    width: 95vw;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
}

table {
    min-width: 500px;
}

.content-center{
    text-align: center !important;
}

.side-margin{    
    margin-right: 15px;
}