<div
  fxLayout="column"
  [ngStyle]="{ 'margin-top': '2em', 'margin-bottom': '2em' }"
  fxLayoutGap.lt-sm="1em"
  fxLayoutGap="5em"
>
  <div fxFlex="50%" fxFlexAlign="center" fxFlexFill>
    <!-- JME Icon -->
    <div
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayoutGap="2em"
      class="header-col"
    >
      <div
        fxFlex="90%"
        fxFlexFill
        fxFlexAlign="center"
        [ngStyle]="{ 'text-align': 'center' }"
      >
        <img
          [ngStyle]="{
            'object-fit': 'contain',
            'object-position': 'center center',
            height: '100%'
          }"
          src="../../../assets/jme-logo-header.png"
        />
      </div>
    </div>
  </div>
  <div fxFlex="50%" fxFlexAlign="center">
    <!-- Thank you message -->
    <span style="text-align: center">
      <h1>Thank you for using JME Online Terminal</h1>
      <ng-container *ngIf="this.transactionSummary; else reviewTemplate">
        <div style="font-size: medium">
          Please wait for your file to download. If the file doesn't download
          within 2 minutes please click the resubmit button below.
        </div>
      </ng-container>
      <ng-template #reviewTemplate>
        <div style="font-size: medium">
          The Transaction is not Completed. please review the contents before
          submitting it.
        </div>
      </ng-template>
    </span>
  </div>
  <div fxFlex="50%" fxFlexAlign="center">
    <div
      fxLayout="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="2em"
    >
      <div fxFlexAlign="center">
        <mat-progress-spinner
          *ngIf="!downloadReady"
          [color]="'primary'"
          [mode]="'indeterminate'"
        ></mat-progress-spinner>
      </div>

      <div fxFlexAlign="center">
        <!-- Resubmit button -->
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.transactionSummary"
        >
          Resubmit
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
