:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix{
    top: 0px !important;
}

:host ::ng-deep .mat-form-field-label{
    top: 2em !important;
}
  
:host .mat-checkbox-inner-container {
    height: 70px!important;
    width: 70px!important;
}
:host .mat-checkbox .mat-checkbox-frame {
    border-color: white !important;
}

