<form
  [formGroup]="personInfoGroup"
  class="ui centered grid"
  style="margin: 0 auto"
>
  <mat-card class="rouded-all" style="padding-top: 0px">
    <mat-card-header class="ui left aligned grid header-col rounded-top">
      <div
        class="ui stackable two column grid full-width"
        style="margin: 0 auto"
      >
        <div class="row">
          <div
            class="left floated middle aligned left aligned column content"
            style="padding-top: 0px !important; padding-bottom: 0px !important"
          >
            <div class="ui small header white">
              {{ title | uppercase }}
            </div>
          </div>
          <div
            class="column"
            *ngIf="hasSameAsButton"
            style="padding: 0px !important"
          >
            <mat-checkbox
              [formControl]="sameAsSender"
              (ngModelChange)="sameAsSenderChanged($event)"
              class="ui right floated small header white"
            >
              Same as Sender
            </mat-checkbox>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="ui fluid centered stackable grid">
      <div class="row">
        <mat-form-field class="five wide column">
          <input
            matInput
            [formControl]="personInfoGroup.controls['bookingDate']"
            [matDatepicker]="picker"
            placeholder="Booking Date"
            color="primary"
            formControlName="bookingDate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon color="primary">
              date_range
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="eleven wide column">
          <input
            matInput
            #name
            [formControl]="personInfoGroup.controls['name']"
            placeholder="Name"
            [value]="personInfoGroup.controls['name'].value | titlecase"
            required
          />
        </mat-form-field>
      </div>
      <div class="equal width row">
        <mat-form-field class="column">
          <input
            matInput
            [formControl]="personInfoGroup.controls['company']"
            placeholder="Company"
          />
        </mat-form-field>
      </div>
      <div class="equal width row">
        <mat-form-field class="column">
          <input
            matInput
            [formControl]="personInfoGroup.controls['streetAddress']"
            placeholder="Street Address"
            [value]="
              personInfoGroup.controls['streetAddress'].value | titlecase
            "
            required
          />
        </mat-form-field>
      </div>
      <div class="equal width row">
        <mat-form-field class="column">
          <input
            matInput
            [formControl]="personInfoGroup.controls['suburd']"
            [value]="personInfoGroup.controls['suburd'].value | titlecase"
            placeholder="Suburb"
            required
          />
        </mat-form-field>
        <mat-form-field class="column">
          <mat-label>State</mat-label>
          <mat-select [formControl]="personInfoGroup.controls['state']">
            <mat-option *ngFor="let state of states" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="doubling two column row">
        <mat-form-field class="column">
          <input
            matInput
            [formControl]="personInfoGroup.controls['postalCode']"
            type="number"
            placeholder="Postal code"
          />
        </mat-form-field>
        <mat-form-field class="column">
          <div class="sub header jme-col" matPrefix>+61&nbsp;</div>
          <input
            appAvoidPasteForNonNumeric
            matInput
            type="tel"
            maxlength="10"
            placeholder="Phone"
            [formControl]="personInfoGroup.controls['phone']"
            (keypress)="numOnly($event)"
            required
            #inputPhone
          />
          <mat-hint align="end">{{ inputPhone.value.length }} / 10</mat-hint>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>
